version: '3'

networks:
    test:

services: 
    nginx:
        image: nginx:stable-alpine
        container_name: nginx
        ports: 
            - "80:80"
        volumes: 
            - ./src:/var/www/html
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on: 
            - php
            - mysql
        networks:
            - test

    mysql:
        image: mysql:8.0
        container_name: mysql
        restart: unless-stopped
        tty: true
        ports: ["3306:3306"]
        volumes: [./mysql:/var/lib/mysql]
        environment: 
            MYSQL_DATABASE: example_app
            MYSQL_USER: sail
            MYSQL_PASSWORD: MzY3OTUxZmQ0YmU5MGVlMTU2MjVlMTQ5
            MYSQL_ROOT_PASSWORD: MzY3OTUxZmQ0YmU5MGVlMTU2MjVlMTQ5
            SERVICE_TAGS: dev
            SERVICE_NAME: mysql
        networks: 
            - test

    php:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: php
        volumes:
            - ./src:/var/www/html
        ports:
            - "9000:9000"
        networks: 
            - test
    composer:
        image: composer:latest
        container_name: composer
        volumes:
            - ./src:/var/www/html
        working_dir: /var/www/html
        networks: 
            - test